{% extends "store/base.html" %}
{% block content %}
    <div class="container">
        <div class="p-4 m-4">
            <div class="col-md-7 mx-auto border rounded p-3">
                <form method="POST">
                    <h3 class="text-center">Login</h3>
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <!-- email -->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input required type="email" value="{{ values.email }}" name="email" class="form-control form-control-sm" placeholder="Enter your email ID">
                    </div>
                    <!-- password -->
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control form-control-sm" placeholder="******">
                    </div>
                    <!-- submit btn -->
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                </form>
                <p class="text-center">
                    <a class="btn btn-info" href="{% url 'register' %}">Need an Account? Register</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}