{% extends "store/base.html" %}
{% block content %}
    <div class="container text-center">
        <h3>Scan this QR code and make your payment!</h3>
        <!--
            STATIC QR CODE 
            <img style="width: 500px; height: 500px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="upi qr code"> 
        -->
        <button onclick="myFunction()" class="btn btn-primary my-3">
            Click Here to generate QR code
        </button>
        <div id="demo">

        </div>
    </div>
{% endblock content %}